h1{
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
h3{
    color: #fff;
}
.fullCustList{
    color: #fff;
}
.inputForm{
    width: 100%;
    max-width: 15rem;
    height: 2rem;
    background-color:transparent !important;
    color: white;
    border-radius: 2em/3em;
    text-align: center;
}
.inputForm:focus{
    outline-color: transparent;
}
table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:auto;
    overflow-x:auto;
    margin-top:0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.customerContentList{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    border-left: solid 1px rgba(255,255,255,0.1);
}

.add-button {
    outline-color: transparent;
    background: #a185d6;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 18px;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}
.add-button:hover{
    border-color: rgba(255,255,255,1);
    background: #4ebb89;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
    transform : translateY(-3px);
}
@media all and (max-width:30em){
     .add-button{
        display:block;
        margin:0.2em auto;
    }
}
.upperBar{
    border: none;
    text-align: center;
}
.upperTable{
    width: 80%;
    margin: 0 auto;
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
    background: -webkit-linear-gradient(left, #020202f3, #8c3dd6d3);
    background: linear-gradient(to right, #020202f3, #8c3dd6d3);
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 0 auto;
    width: 80%;
}